body {
  
}

.header-h1 {
  text-align: center;
  color: #3e6384;
}

h1, h2, h3 {
  font-family: sans-serif;
}

.menu-div {
	background-color: lightblue;
	border-radius: 15px;
	display: table;
	width: 60%;
	height: 100px;
	margin-left: auto;
    margin-right: auto;
    align-items: center;
	justify-content: center;
}

.pags {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

.form-complete {
	width: 100%;
}

.menu-div-h1 {
	width: 100%;
	align-items: center;
    justify-content: center;
    text-align: center;
  	align-self: center;
}

.menu-div-button {
	float: left;
	width: 10%;
	margin: 25px;
}

.select-one-menu {
	min-width: 200px;
}

.select-many-menu {
	min-width: 220px;
}

.column-actions {
	width:65px;
}

.button {
	min-width: 130px;
	width: 250px;
}

.menu-bar {
	display: inline-block;
	text-align: center;
	width: 100%;
}

